name: Default Build & Test

on:
    push:
        branches: [main]
    pull_request:
        branches: [main]

jobs:
    build:
        runs-on: ubuntu-latest
        strategy:
            matrix:
                node-version: [16.x]
        steps:
            - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
            - name: Use Node.js ${{ matrix.node-version }}
              uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
              with:
                  node-version: ${{ matrix.node-version }}
            - name: Install Dependencies
              run: npm ci
            - name: Run lint
              run: npm run lint
